<h1>Stylists</h1>

<ul>
  <% @stylists.each() do |stylist| %>
    <li><a href="/stylists/<%= stylist.id() %>"> <%= stylist.stylist_name() %></a></li>
  <% end %>
</ul>

<h4>New Stylist:</h4>
<form action="/stylists/new" method="post">
  <label for="stylist_name">Name:</label>
  <input type="text" name="stylist_name" id="stylist_name">
  <button type="submit">Add stylist</button>
</form>

<a href="/">Home</a>
